@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: #f6f6f6;
}
.title {
    color: #5ce1e6
}
.content {
    margin:8% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content__ap {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content__title {
    font-size :36px;
    font-family: 'Krona One', sans-serif;
}

.content__text {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.content__botton {
    display: flex;
    justify-content: space-between;
}

.content__link {
    background-color: #5ce1e6;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}