@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100;400&display=swap');

:root {
    --cor-background: #050404;
    --cor-textos: #96897D;
    --cor-destaque: #CFBFB8;
    --cor-hover: #272727;

    --fonte-titulos: 'Krona One', sans-serif;
    --fonte-textos: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-background);
    color: var(--cor-textos);
    
}
.title {
    color: var(--cor-destaque)
}

.header {
    padding: 2% 0% 0% 10%

}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__link {
    font-family: var(--fonte-textos);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-destaque);
    text-decoration: none;
}

.content {
    padding:3% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.content__ap {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content__title {
    font-size :2.25rem;
    font-family: var(--fonte-titulos);
}

.content__text {
    font-size: 1.5rem;
    font-family: var(--fonte-textos);
}

.content__subtitle {
    font-family: var(--fonte-titulos);
    font-weight: 400;
    font-size: 1.5rem;
}

.content__botton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;


}

.content__link {
    display: flex;
    justify-content:center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border: 2px solid var(--cor-destaque);
    border-radius: 16px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-textos);
    font-family: var(--fonte-textos);
} 


.content__link:hover {
    background-color: var(--cor-hover);
}

.footer {
    padding: 24px;
    color: var(--cor-background);
    background-color: var(--cor-textos);
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-family: var(--fonte-textos);
    font-weight: 400;
}

.kauaimage {
    width: 50%;
    border-radius: 16px;
}

.icon {
    height: 30px;
    width: 30px;
}

@media (max-width:1200px) {
    
    .header {
        padding: 10%;
    }

    .header__menu {
        justify-content: center;
    }
    
    .content {
        padding: 5%;
        flex-direction: column-reverse;
    }

    .content__ap {
        width: auto;
    }
}